#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#navbar .container {
    padding: 0 24px;
}
#navbar * {
    transition: ease-out 400ms;
}
.menu {
    position: relative;
    height: 120px;
    transform: translateY(48px);
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
}
.menu a {
    display: block;
}
.menu-logo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 224px;
    background-color: #fff;
    background-image: url("../images/cannon-logo.png");
    background-size: 220px auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-indent: -9999px;
}
.menu-links {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(240px,-50%,0);
}
.menu-links li {
    display: inline-block;
}
.menu-links a {
    font-size: 20px;
    line-height: 32px;
    color: #223329;
    text-decoration: none;
    padding: 16px;
}
#navbar.is-scrolled .menu {
    height: 72px;
    transform: translateY(0);
    border-radius: 0 0 4px 4px;
}
#navbar.is-scrolled .menu-logo {
    width: 72px;
    background-image: url("../images/cannon-icon.png");
    background-size: 40px auto;
}
#navbar.is-scrolled .menu-links {
    transform: translate3d(88px,-50%,0);
}
#navbar.is-scrolled .menu-links a {
    font-size: 16px;
}
#home .menu-links a#menuHome,
#investments .menu-links a#menuInvestments,
#team .menu-links a#menuTeam {
    font-weight: bold;
}
.menu-buttons {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
}
.menu-buttons li {
    display: block;
    padding: 4px;
}
#navbar.is-scrolled .menu-buttons li {
    float: right;
    padding: 6px 4px;
}
.menu-buttons a {
    width: 156px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    padding: 12px 48px;
    color: #fff;
    background-color: #263828;
    border-radius: 4px;
}
.menu-buttons a.bg-light-green {
    background-color: #91C38A;
}