/* START RESET */
html, body, div, section, article, header, footer, figure, span, h1, h2, h3, h4, h5, h6, p, br, table, th, tr, td, img, code, dl, dt, dd, ol, ul, li, fieldset, form, label {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
  }
  html {
    background: white;
  }
  body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background-color: white;
    color: white;
    fill: white;
  }
  body:before {
    content: '';
    visibility: none;
    position: fixed;
    top: 40px;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-color: white;;
    background-image: none;
    background-size: auto 100%;
    background-position: fixed;
    background-repeat: no-repeat;
  }
  * {
    color: inherit;
    fill: inherit;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
  img, svg {
    display: block;
    width: 100%;
    height: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  .theme-light {
    background: white;
    color: black;
  }
  .theme-dark {
    background: black;
    color: white;
  }
  /* END RESET */
  h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
  }
  h2 {
    font-size: 48px;
    line-height: 56px;
  }
  h2 span {
    display: inline-block;
    position: relative;
  }
  h3 {
    font-size: 18px;
    line-height: 20px;
    /* font-weight: 700; */
  }
  hr {
    margin: 48px 0 !important;
  }
  .typewrite-container {
    min-width: 210px;
  }
  .typewrite:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    height: 100%;
    width: 3px;
    background: black;
    -webkit-animation: cursorAnimation 1.2s step-end infinite;
    animation: cursorAnimation 1.2s step-end infinite;
  }
  @keyframes cursorAnimation {
      0% {
          opacity: 1;
      }
      50% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  ul li {
    margin-left: 24px;
  }
  a {
    font-weight: bold;
    text-decoration: none;
  }
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 80px 24px;
  }
  nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    flex-wrap: nowrap;
    color: black;
    background: white;
  }
  nav .container {
    width: 100%;
    padding: 16px;
    /* background: rgba(255,255,255,0.9); */
    /* border-radius: 0 0 8px 8px; */
  }
  .logo {
    float: left;
    margin-left: 8px;
    /* position: fixed;
    top: 24px;
    left: 24px; */
  }
  .logo h1 span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    min-width: 32px;
    text-align: center;
  }
  .logo h1 > span {
    display: block;
    float: left;
    padding: 4px 8px;
    border: solid 2px black;
  }
  .logo .blackOnWhite {
    color: black;
    /* background: white; */
  }
  .logo .whiteOnBlack {
    color: white;
    background: black;
  }
  .logo .hide {
    display: none;
  }
  nav .container {
    padding: 16px;
  }
  nav .menu {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-left: 24px;
  }
  nav .menu li {
    list-style: none;
    margin: 0;
  }
  nav .menu li a {
    display: block;
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
    transition: all 300ms ease-out;
  }
  nav .menu li a:hover {
    transform: scale(1.1);
  }
  .social {
    font-size: 0;
  }
  nav .social {
    display: none;
  }
  footer .social {
    margin-left: -12px;
  }
  .social:after {
    content: '';
    display: table;
    clear: both;
  }
  .social li {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: 16px;
  }
  .social li a {
    display: block;
    width: 48px;
    height: 48px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 300ms ease-out;
  }
  .social li a:hover {
    transform: scale(1.1);
  }
  .hero .container {
    margin-top: 64px;
  }
  .hero .social {
    display: block;
    margin-left: -8px;
  }
  .hero .social li {
    margin-right: 0;
    margin-top: 8px;
  }
  .social .twitter {
    background-image: url(../images/social-twitter-white.svg);
  }
  .social .linkedin {
    background-image: url(../images/social-linkedin-white.svg);
  }
  .social .behance {
    background-image: url(../images/social-behance-white.svg);
  }
  .social .dribbble {
    background-image: url(../images/social-dribbble-white.svg);
  }
  .social .github {
    background-image: url(../images/social-github-white.svg);
  }
  .social .email {
    background-image: url(../images/social-email-white.svg);
  }
  .social .twitter-black {
    background-image: url(../images/social-twitter-black.svg);
  }
  .social .linkedin-black {
    background-image: url(../images/social-linkedin-black.svg);
  }
  .social .behance-black {
    background-image: url(../images/social-behance-black.svg);
  }
  .social .dribbble-black {
    background-image: url(../images/social-dribbble-black.svg);
  }
  .social .github-black {
    background-image: url(../images/social-github-black.svg);
  }
  .social .email-black {
    background-image: url(../images/social-email-black.svg);
  }
  .social svg {
    width: 24px;
    height: 24px;
  }
  .btn-linkedin {
    display: inline-block;
    background: white;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    line-height: 0;
  }
  .btn-linkedin:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
    padding: 0;
    background-image: url(../images/social-linkedin-black.svg);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .btn-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-weight: bold;
  }
  header {
    color: black;
    position: relative;
    z-index: 10;
  }
  .hero {
    display: flex;
    background-color: white;
    flex-flow: row wrap;
    position: relative;
    z-index: 100;
    width: 100%;
  }
  .hero .bio > * + * {
    margin-top: 24px;
  }
  .hero .bio h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .hero .bio h1 span {
    display: inline-block;
    position: relative;
  }
  .hero .bio p {
    font-size: 20px;
    line-height: 32px;
  }
  #slogan h1,
  h1.slogan {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }
  figure:after {
    content: '';
    display: table;
    clear: both;
  }
  figure svg {
    display: block;
    float: left;
    width: auto;
    max-height: 40px;
  }
  .dates {
    margin: 24px 0;
  }
  .dates:after {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    margin-top: 8px;
    background: currentColor;
  }
  .anchor:before {
    content: '';
    display: none;
    position: relative;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    top: -80px;
    margin-left: 24px;
    /* visibility: hidden; */
  }
  section {
    width: 100%;
  }
  .roles {
    width: 100%;
    margin-top: 48px;
  }
  .roles li {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .roles li + li,
  .roles li ul > li {
    border-top: solid 1px #fff;
    padding-top: 16px;
    margin-top: 16px;
  }
  .roles li ul > li {
    border-style: dashed;
  }
  .roles li ul {
    border-left: solid 1px #fff;
    padding-left: 24px;
  }
  .roles article > h1 {
    margin-bottom: 8px;
  }
  .roles article>*+* {
    margin-top: 0;
  }
  .roles h1 {
    font-weight: bold;
  }
  .roles h3 {
    font-size: 100%;
    font-weight: bold;
  }
  .roles p a {
    font-weight: normal;
  }
  .cv {
    margin: 48px auto;
  }
  .cv h1.large {
    font-size: 48px;
    line-height: 120%;
    font-weight: bold;
  }
  .cv h2 {
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
  }
  /* .roles p {
    text-transform: uppercase;
  } */
  article > * {
    display: block;
  }
  article:after {
    content: '';
    display: table;
    clear: both;
  }
  article > * + * {
    margin-top: 16px;
  }
  main {
    position: relative;
    z-index: 100;
    background: white;
  }
  main .col article h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .sidebar h1 {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  .sidebar p {
    margin-bottom: 24px;
  }
  .invert {
    background: black;
  }
  .invert * {
    color: lightgray;
    fill: white;
  }
  #intro p {
    font-size: 36px;
    line-height: 56px;
  }
  #skills {
    background: #eee;
  }
  
  /* footer:after {
    content: '';
    display: table;
    clear: both;
  }
  footer .social,
  .sidebar .social {
    margin-left: -16px;
  }
  footer .social li,
  .sidebar .social li {
    display: inline-block;
    float: none;
    margin: 0 8px;
  } */
  .button {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 64px;
    color: white;
    text-decoration: none;
    border: solid 2px white;
  }
  .copyright {
    margin-top: 24px;
    font-size: 12px;
  }
  .listing {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  .listing li {
    flex: 0 0 50%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .listing article {
    margin: 0;
    padding: 16px;
  }
  .listing article * + * {
    margin: 0;
    line-height: 100%;
    margin-top: 8px;
  }
  .listing .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 16px;
  }
  .listing .author {
    font-size: 14px;
    font-weight: normal;
  }
  .listing.press li {
    flex: 0 0 100%;
    padding: 16px;
  }
  .listing.press article {
    padding: 0;
  }
  .hero .listing.books {
    
  }
  .thumb {
    border-radius: 8px;
    border: solid 8px white;
    box-shadow: 0px 8px 24px rgba(0,0,0,0.2);
  }
  .thumb img {
    width: 100%;
    height: auto;
  }
  .media {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  ul.awards.listing {
    border: none;
    padding: 0;
  }
  .listing.awards li {
    flex: 0 0 33%;
    border: none;
    padding: 0;
    margin: 0;
  }
  .hero .reading {
    display: flex;
    flex-wrap: wrap;
  }
  .hero .reading .thumb {
    width: 64px;
    margin-right: 24px;
    border-width: 4px;
  }
  .hero .reading .info {
    /* align-self: center; */
  }
  .hero .reading p {
    font-size: 11px;
  }
  .hero .bio .reading h1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
  }
  .hero .bio .reading h2 {
    font-size: 14px;
    line-height: 16px;
  }
  .sketches {
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-out;
  }
  .sketch {
    position: fixed;
    transform: scale(0.5);
    transition: all 300ms ease-out;
  }
  .sketch.coffee {
    width: 64px;
    height: auto;
    top: 48%;
    left: 12%;
  }
  .sketch.laptop {
    width: auto;
    height: 80px;
    top: 32%;
    left: 18%;
  }
  .sketch.pencil {
    width: auto;
    height: 88px;
    top: 18%;
    left: 16%;
  }
  .sketch.kindle {
    width: auto;
    height: 80px;
    top: 46%;
    left: 18%;
  }
  .sketch.transform {
    width: auto;
    height: 104px;
    top: 34%;
    left: 11%;
  }
  .sketch.squiggle {
    width: 48px;
    height: auto;
    top: 12%;
    left: 6%;
  }
  .sketch.pop {
    width: 48px;
    height: auto;
    top: 26%;
    left: 12%;
  }
  .sketch.lightbulb {
    width: 64px;
    height: auto;
    top: 14%;
    left: 10%;
  }

  @media only screen and (min-width: 800px) {
    body:before {
      visibility: visible;
      background-image: url(../images/brett-white-half.jpg);
    }
    .container {
      max-width: 1200px;
      padding: 120px 48px;
    }
    #hero {
      display: flex;
      flex-wrap: wrap;
      min-height: 100vh;
      padding: 48px 0;
      background-color: transparent;
      /* background-color: rgba(255,255,255,0.8); */
    }
    .logo {
      margin-left: 32px;
    }
    .logo h1 span {
      font-size: 24px;
      line-height: 32px;
      text-align: left;
      min-width: auto;
    }
    .logo .hide {
      display: block;
      float: right;
    }
    nav .container {
      padding: 16px;
    }
    nav .menu li a {
      padding: 16px;
      margin-left: 0;
    }
    nav .social {
      display: block;
      margin-left: auto;
    }
    .hero .container {
      margin-top: 0;
    }
    .hero .social {
      display: none;
    }
    .hero .bio h1 {
      font-size: 48px;
      line-height: 56px;
    }
    .bio {
      align-self: center;
    }
    .theme-light {
      /* background: rgba(255,255,255,0.9); */
      background: white;
    }
    .theme-dark {
      /* background: rgba(0,0,0,0.9); */
      background: black;
    }
    .thumb {
      filter: saturate(0);
      transition: all 0.5s ease-out;
    }
    .thumb:hover {
      filter: saturate(1);
      transform: scale(1.1);
      box-shadow: 0px 16px 32px rgba(0,0,0,0.2);
      cursor: pointer;
    }
    .flex-row {
      display: flex;
      flex-wrap: wrap;
    }
    .sidebar {
      flex: 0 0 30%;
      padding: 0 16px 0 0;
    }
    .content { 
      flex: 0 0 70%;
    }
    .cv {
      margin-top: 0;
    }
    .flex-align-right {
      margin-left: auto;
    }
    .flex-align-left {
      margin-right: auto;
    }
    .listing li {
      flex: 0 0 33%;
    }
    .listing.press li {
      flex: 0 0 50%;
    }
    .listing.awards li {
      flex: 0 0 25%;
    }
  }

  @media only screen and (min-width: 880px) {
    .listing li {
      flex: 0 0 25%;
    }
    .listing.awards li {
      flex: 0 0 20%;
    }
    .hero .reading {
      width: 50%;
    }
  }

  @media only screen and (min-width: 960px) {
    h1.slogan {
      font-size: 60px;
    }
  }

  @media (min-width: 920px) and (min-height: 560px) {
    .sketches {
      visibility: visible;
      opacity: 1;
    }
  }

  @media (min-width: 1120px) and (min-height: 720px) {
    .sketch {
      transform: scale(0.75);
    }
  }

  @media only screen and (min-width: 1160px) {
    h1.slogan {
      font-size: 80px;
    }
  }

  @media (min-width: 1280px) and (min-height: 960px) {
    .sketch {
      transform: scale(1);
    }
  }