/* START RESET */
html, body, div, section, article, header, footer, figure, span, h1, h2, h3, h4, h5, h6, p, br, table, th, tr, td, img, code, dl, dt, dd, ol, ul, li, fieldset, form, label {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
  }
  html {
    background: black;
  }
  body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    background-color: black;
    fill: black;
    color: black;
  }
  * {
    color: inherit;
    fill: inherit;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
  img, svg {
    display: block;
    width: 100%;
    height: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  /* END RESET */
  h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
  }
  h1 span {
    font-weight: 700;
    background: black;
    color: white;
    padding: 0 4px;
  }
  h2 {
    font-size: 48px;
    line-height: 56px;
  }
  h2 span {
    display: inline-block;
    position: relative;
  }
  .typewrite-container {
    min-width: 210px;
  }
  .typewrite:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    height: 100%;
    width: 2px;
    background: black;
    -webkit-animation: cursorAnimation 1.5s step-end infinite;
    animation: cursorAnimation 1.5s step-end infinite;
  }
  @keyframes cursorAnimation {
      0% {
          opacity: 1;
      }
      50% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  ul li {
    margin-left: 24px;
  }
  a {
    font-weight: bold;
    text-decoration: none;
  }
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 48px 24px;
  }
  .col {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    height: 100%;
  }
  .col + .col {
    margin-top: 48px;
  }
  main {
    overflow: hidden;
  }
  header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fff;
  }
  header .container {
    position: relative;
    padding: 144px 24px 48px;
  }
  header .row {
    margin: 0;
  }
  header .col {
    padding: 0;
  }
  header .col + .col {
    margin-top: 0;
  }
  header .social {
    position: absolute;
    top: 24px;
    right: 12px;
    margin-top: 0;
  }
  header .social li {
    margin-left: 0;
    margin-right: 8px;
  }
  header .social li svg {
    width: 20px;
    height: 20px;
  }
  header figure {
    overflow: hidden;
    position: absolute;
    top: 32px;
    overflow: hidden;
    max-width: 80px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
  }
  header figure img {
    margin: 0 auto;
  }
  main {
    position: relative;
  }
  main:after {
    content: '';
    display: table;
    clear: both;
  }
  figure:after {
    content: '';
    display: table;
    clear: both;
  }
  figure svg {
    display: block;
    float: left;
    width: auto;
    max-height: 40px;
  }
  .dates {
    margin: 24px 0;
  }
  .dates:after {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    margin-top: 8px;
    background: currentColor;
  }
  article > * {
    display: block;
  }
  article:after {
    content: '';
    display: table;
    clear: both;
  }
  article > * + * {
    margin-top: 16px;
  }
  .invert {
    background: black;
  }
  .invert * {
    color: lightgray;
    fill: white;
  }
  #intro p {
    font-size: 36px;
    line-height: 56px;
  }
  #skills {
    background: #eee;
  }
  .social {
    font-size: 0;
  }
  .social:after {
    content: '';
    display: table;
    clear: both;
  }
  .social li {
    display: block;
    float: left;
  }
  .social li a {
    display: block;
    padding: 8px;
  }
  .social svg {
    width: 24px;
    height: 24px;
  }
  footer:after {
    content: '';
    display: table;
    clear: both;
  }
  footer .container {
    padding-top: 0;
    padding-bottom: 48px;
  }
  footer .social {
    margin-left: -16px;
  }
  footer .social li {
    display: inline-block;
    float: none;
    margin: 0 8px;
  }
  .button {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 64px;
    color: white;
    text-decoration: none;
    border: solid 2px white;
  }
  .copyright {
    margin-top: 24px;
    font-size: 12px;
  }
  #accolades {
    text-align: center;
  }
  .awards {
    margin-top: 24px;
  }
  .awards li {
    display: inline-block;
    width: 160px;
    margin: 0;
    padding: 16px;
  }
  @media only screen and (min-width: 960px) {
    header {
      background-size: 50% auto;
      background-position: 8% bottom;
    }
    .container {
      max-width: 1200px;
      padding: 96px;
    }
    .row {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -48px;
    }
    .col {
      display: flex;
      width: 50%;
      max-width: 100%;
      padding: 0 48px;
    }
    .col + .col {
      margin-top: 0;
    }
    header {
      height: 100vh;
    }
    header .container {
      display: flex;
      align-items: center;
      padding: 120px 48px;
    }
    header .row {
      align-items: center;
      margin: 0;
      flex-flow: row-reverse;
    }
    header .col {
      padding: 0;
    }
    header article {
      max-width: 100%;
      padding: 0 48px;
    }
    header figure {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      right: 50%;
      margin: 0 0 -4%;
      max-width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
    header figure img {
      max-width: 720px;
      margin: 0 auto;
    }
    header .social {
      position: absolute;
      top: 0;
      right: 0;
      padding: 24px;
      margin: 0;
    }
    footer .social {
      margin-left: -24px;
    }
    header .social li {
      margin-right: 0;
      margin-left: 16px;
    }
    footer .social li {
      margin: 0 16px;
    }
    header .social li svg {
      width: 24px;
      height: 24px;
    }
    /* footer .social svg {
      width: 32px;
      height: auto;
    } */
    /* .copyright {
      margin-top: 24px;
    } */
  }
  @media only screen and (min-width: 1440px) {
    header {
      background-size: 720px auto;
      background-position: 12% bottom;
    }
  }